table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  font-family: "Open Sans", Verdana, sans-serif;
}

.button-div {
  align-items: center;
  display: flex;
}
