.pokemon_node_field__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pokemon_node_field__table {
  margin-left: 30%;
}
tr:hover {
  background-color: #007bc6;
}
.pokemon_node_field {
  text-align: center;
}
